.navbar {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-image: linear-gradient(to right, rgba(162, 119, 0, 1), rgba(242, 218, 100, 1));

  -webkit-border-image: -webkit-linear-gradient(left, rgb(161, 119, 0) 0%, rgb(242, 218, 100) 100%);
  -moz-border-image: -moz-linear-gradient(right, rgb(161, 119, 0), rgb(242, 218, 100));

  border-image-slice: 1;
}

#brand-logo {
  float: left;
  height: 25px;
}
